 
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
background-color:#07374a; ;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margin */
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    display: none;
  }

  .menu-items {
    flex-direction: column;
    display: none;
    gap: 10px;
  }

  .name h1 {
    font-size: 2.5rem;
  }

  .aboutpara {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .name h1 {
    font-size: 2rem;
  }

  .name .shaikhai {
    font-size: 1.2rem;
  }

  .aboutpara {
    font-size: 0.8rem;
  }
}


header {
  height: 100vh;
  padding: 0px 0;
  margin-top: 0px;
  unicode-bidi: isolate;
}

@media (max-width: 500px) {
  html {
      font-size: 60%;
  }
}

.container {
  max-width: 1200px;
  
  margin: 0 auto;
  padding: 0 20px;
  
}







/* ////........Navbar.......//// */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color:#25b79f;
  box-shadow: 0 5px 5px 0 rgba(1,1,1,.1);
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color:white;
  font-size: 1.9rem;
  padding: 0.3rem;
}

.menu-items a:hover {
  border-bottom: 2px solid rgb(231,231,231);
}

.navbar .logo {
  order: 1;
  color:rgb(231,231,231);
  font-size: 2rem;
}

/* ////........Home Content........//// */

.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #07374a;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.firstpage{
    margin-top: 100px;
    height:350px;
    width: 530px;
    align-items: center;
    background-color: white;
    border-radius: 20px;

}

.firstpage button {
    margin: 0 10px;
    padding: 20px 20px;
    border: none;
    background-color: #f2f4f7;
    color:rgb(231,231,231);
    cursor: pointer;
    border-radius: 10px;
}

.firstpage button:hover {
    background-color: #0056b3;
}

.firstpage h1 span {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed for desired space */
    animation:  2s ease-in-out infinite, changeColor 2s ease-in-out infinite;
}

.Taiseen{
color: black;
font-size: 45px;
font-family: titillium-font;
font-weight: 600;
opacity: 0.8;
}
.shaikh{
color:black;
font-size: 45px;
font-family: titillium-font;
}
.shaikhai{
  color:orangered;
  font-size: 30px;
  font-family: titillium-font;
  font-weight: 600;
    opacity: 0.8;
  }

.firstpage p {
    margin: 10px 0;
    font-size: 50px;
    font-weight: 600;
    opacity: 0.8;
}
.home-content .name h1 {
  font-size: 2.2rem;
  text-align: center;
}

.home-content .name p {
  color:rgb(231,231,231);
  font-size: 1.5rem;
}

.angle-down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 3px solid #07374a;
  border-radius: 50%;
}

.angle-down-icon a {
  text-decoration: none;
  color: #07374a;
  padding: 1rem;
}

/* ////........About Me........//// */

.about-me {
  background-color: #07374a;
  padding: 6rem 0;
}
.about-mee {
  background-color: #25b79f; 
  padding: 6rem 0;
}

.about-me .about-heading {
  color: #25b79f;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-content img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  color: rgb(231,231,231);
  padding: 0 2.3rem;
  text-align: center;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #25b79f;
  text-align: center;
}

.about-me .about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.about-content .right-content {
  flex-basis: 45%;
}

/* ///.....Skill Bar....../// */

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: rgb(231,231,231);
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: rgb(231,231,231);
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 75%;
}
.progress-line .css {
  width: 60%;
}
.progress-line .bootstrap {
  width: 70%;
}
.progress-line .javascript {
  width: 55%;
}
.progress-line .c {
  width: 77%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: rgb(231,231,231);
  border-top-color: rgb(231,231,231);
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: rgb(231,231,231);
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "75%";
}
.progress-line .css::after {
  content: "60%";
}
.progress-line .bootstrap::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "55%";
}
.progress-line .c::after {
  content: "77%";
}

.navbar.solid {
  background-color: #07374a;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgb(7 55 74 / 20%);
  z-index: 500;
}

.navbar.solid .navbar-brand {
  display: inline-block;
  color: rgb(231,231,231);
  transition: color 1s ease 0s;
}

.navbar-brand {
  display: none;
  color:rgb(231,231,231);
  font-weight: 700;
  font-size: 25px;
  
}

.work-arrow {
  margin: 2rem 0;
}

.work-arrow a {
  font-size: 1rem;
  text-decoration: none;
  color: #25b79f;
}

.work-arrow-2 {
  margin: 2rem 0;
}

.work-arrow-2 a {
  font-size: 1rem;
  text-decoration: none;
  color: #25b79f;
  display: none;
}

/* ////.....Portfolio......///// */

.portfolio {
  background: #25b79f;
  padding: 6rem 0;
}

.proj-heading h1 {
  text-align: center;
  color: #07374a;
  font-size: 2.3rem;
  font-weight: 700;
  margin: 3rem 0;
}

.proj-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-1 img {
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-1 .proj1-details {
  width: 32rem;
}

.proj-1 .proj1-details i {
  font-size: 1.5rem;
  color: #07374a;
}

.proj-1 .proj1-details h2 {
  font-size: 2rem;
  color: #07374a;
}

.proj-1 .proj1-details p {
  font-size: 1.3rem;
  color: #07374a;
  font-weight: 600;
}

.proj-1 .proj1-details button {
  background: rgb(231,231,231);
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #07374a;
}

.proj-1 .proj1-details button a {
  text-decoration: none;
  color: #07374a;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-1 .proj1-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background: #07374a;
}

.proj-1 .proj1-details button:hover a,
.proj-1 .proj1-details button:hover .fas {
  color:rgb(231,231,231);
}

/* ////.....proj2.....//// */

.proj-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.proj-2 img {
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-2 .proj2-details {
  width: 32rem;
}

.proj-2 .proj2-details i {
  font-size: 1.5rem;
  color: #07374a;
}

.proj-2 .proj2-details h2 {
  font-size: 2rem;
  color: #07374a;
}

.proj-2 .proj2-details p {
  font-size: 1.3rem;
  color: #07374a;
  font-weight: 600;
}

.proj-2 .proj2-details button {
  background: rgb(231,231,231);
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #07374a;
}

.proj-2 .proj2-details button a {
  text-decoration: none;
  color: #07374a;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: #07374a;
}

.proj-2 .proj2-details button:hover a,
.proj-2 .proj2-details button:hover .fas {
  color:rgb(231,231,231);
}

.more-work {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.more-work p {
  font-size: 1.6rem;
  color: #07374a;
  font-weight: 500;
}

.more-work a {
  text-decoration: none;
  color: rgb(231,231,231);
  font-size: 1.3rem;
}

.more-work a:hover {
  border-bottom: 2px solid rgb(231,231,231);
}

/* ////......Contact......///// */

.contact {
  background: #07374a;
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #25b79f;
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color:rgb(231,231,231);
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: #25b79f;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: #25b79f;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover {
  color:rgb(231,231,231);
}

/* ////......Media query......//// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .proj-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 250px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .proj-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-arrow {
    display: none;
  }

  .left-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .right-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}



.slidercontainer {
  display: flex;
  height: 100%;
}

.vertical-bar {
  width: 2.5px; /* Adjust width of the vertical bar */
  background-color:rgb(253, 33, 85);
  position: relative;
   /* Color of the vertical bar */
}

.slider-container {
  width: calc(100% - 10px); /* Subtract width of vertical bar */
  
}
.sliderherocontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:  center;
}

.slider {
  width: 300px; /* Adjust width of the slider */
}

.slide {
  margin-bottom: 20px; /* Adjust spacing between slides */
}

.slide h2 {
  margin: 0;
  font-size: 20px;
  position: relative;
  color: black;
  padding-left: 20px; /* Add space for the circle */
}

.slide h3 {
  margin: 0;
  font-size: 20px;
  position: relative;
  color: black;
  padding-left: 20px; /* Add space for the circle */
}

.slide h2::before {
  content: '';
  width: 13px; /* Diameter of the circle */
  height: 13px;
  border-radius: 50%;
  background-color:rgb(253, 33, 85); /* Color of the circle */
  position: absolute;
  left: -8px; /* Position the circle to the left of the heading */
  top: 50%;
  transform: translateY(-50%);
  
}

.slide p {
  margin: 0;
  font-size: 16px;
}
.barheading{
  display: flex;
  display: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}
.barheading h1{
  font-size: 25px;
  color: Black;
}
.heading{
  color: rgb(253, 33, 85);
}

.aboutpara{
  display: inline;
  

  
  line-height: 35.5px;
  width: 500.75px;
  
  padding: 0 2.3rem;
  text-align: center;


  
}


.projectcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proj {
  flex: 1 1 calc(50% - 20px); /* Adjust the width of each project */
  margin: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

.proj img {
  max-width: 100%;
  height:auto;
}

.proj-details {
  padding: 10px;
}

.proj-details h2 {
  margin: 10px 0;
  font-family:'Times New Roman', Times, serif;
  color:rgb(27, 26, 26);
  font-size: 25px;
}

button {
  padding: 12px 20px;
  margin-left: 0%;
  margin-right: 100px;
  font-size: 16px;
  background-color: #07374a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;}


  p {
    margin-top: 20px;
    font-size: 18px;
    color:rgb(9, 38, 170);
  }
button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

button a i {
  margin-left: 5px;
}

.more-work {
  text-align: center;
  margin-top: 20px;
}

.more-work p {
  margin-bottom: 10px;
}

.more-work a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 5px 10px;
}


@media (max-width: 768px) {
  .barheading {
    flex-direction: column;
    align-items: center;
  }

  .barheading h1 {
    margin-bottom: 10px;
  }

  .sliderherocontainer {
    flex-direction: column;
    align-items: center;
  }

  .slidercontainer {
    width: 100%;
    margin-bottom: 20px;
  }

  .slide h2, .slide h3 {
    font-size: 1rem;
  }

  .slide p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .about-heading {
    font-size: 1.5rem;
  }

  .barheading h1 {
    font-size: 1.2rem;
  }

  .slide h2, .slide h3 {
    font-size: 0.9rem;
  }

  .slide p {
    font-size: 0.8rem;
  }
}

.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
}
@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
      align-items: center;
  }


}


@media (min-width: 576px) {
  .home-content {
      padding: 40px;
  }

  .firstpage h1 {
      font-size: 3rem;
  }

  .aboutpara {
      font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .home-content {
      flex-direction: row;
      text-align: left;
  }

  .firstpage {
      max-width: 600px;
  }

  .firstpage h1 {
      font-size: 3.5rem;
  }

  .shaikhai {
      font-size: 1.75rem;
  }

  .aboutpara {
      font-size: 1.2rem;
  }

  .angle-down-icon {
      margin-top: 0;
      margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .firstpage h1 {
      font-size: 3rem;
  }

  .shaikhai {
      font-size: 2rem;
  }

  .aboutpara {
      font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .firstpage h1 {
      font-size: 4.5rem;
  }

  .shaikhai {
      font-size: 2.25rem;
  }

  .aboutpara {
      font-size: 1.3rem;
  }
}


